.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--not-padding {
  padding-top: 0;
}

.section--dark {
  background-color: var(--secondary-bgc);
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-title);
}
